@charset "UTF-8";

@font-face {
	src: url(../library/google-fonts/Montserrat/Montserrat-Light.ttf);
	font-family: montserrat;
}

body {
	font-family: montserrat;
}

.pl-titulo-sistema {
	font-size: 16px;
}

.pl-item-menu {
	font-size: 14px;
}

a:link {
	text-decoration: none;
}
  
a:visited {
	text-decoration: none;
}
  
a:hover {
	text-decoration: none;
}
  
a:active {
   	text-decoration: none;
}